In [1]:
import glob
import pandas as pd
import boto3
from datetime import datetime, timedelta
import json
import numpy as np
from utils.ingest_utils import generator_to_np, convert_time, get_col_index_map

In [2]:
file_cond = glob.glob('/Users/Indhuja/Desktop/tcsp/lip/TCSP_LIP_cond_2005.187_050706_1948.txt')[0]
file_fm = glob.glob('/Users/Indhuja/Desktop/tcsp/lip/TCSP_LIP_fieldmill_2005.187_050706.txt')[0]

df1 = pd.read_csv(file_cond, sep=r"\s+", header=None, skiprows=1, usecols = [1,7,9])
df1.columns = ["Time", "lat", "lon"]
df1["Time"] = df1["Time"].apply(convert_time)
print(df1)

file2 = "/Users/Indhuja/Desktop/tcsp/lip/TCSP_LIP_fieldmill_2005.187_050706_valid.txt"
with open(file_fm, "r") as f:
    lines = f.readlines()
with open(file2, "w") as f:
    for line in lines:
        if ("NaN" not in line):
            f.write(line)
df2 = pd.read_csv(file2, sep=" ", header=None, skiprows=1, usecols=[0,1,2,3,4,5])
df2.columns = ['Date', 'Time', 'Ex', 'Ey', 'Ez', 'Eq']
df2["Time"] = df2["Time"].str.split('.').str[0]
print(df2)

merged_df = pd.merge(df1, df2, on="Time", how="inner")
print("merged df>>>>")
print(merged_df)

df = merged_df.groupby(['Time', 'Date'], as_index=False).agg({'Ex': 'mean', 'Ey': 'mean', 'Ez': 'mean', 'Eq': 'mean',
                                                        'lat': 'mean', 'lon': 'mean'})

tform1 = '%Y-%m-%d %H:%M:%S'
tform2 = '%Y-%m-%dT%H:%M:%SZ'
df['time2'] = [(datetime.strptime(d + ' ' + h, tform1) +
                timedelta(seconds=60)).strftime(tform2)
                for d, h in zip(df['Date'], df['Time'])] 

# df = df[(np.abs(df['Ex']) > 0.05) & (np.abs(df['Ey']) > 0.05) &(np.abs(df['Ez']) > 0.05) ]
df = df.reset_index(drop=True)
print(df)

czmlBody = [{"id": "document",
                "name": "LIP",
                "version": "1.0", }]

LIP = df[['Date', 'Time', 'time2',
            'Ex', 'Ey', 'Ez', 'lat', 'lon']]
print(LIP)

for d, t, t2, ex, ey, ez, lat, lon in zip(LIP.Date, LIP.Time, LIP.time2,
                                            LIP.Ex, LIP.Ey, LIP.Ez,
                                            LIP.lat, LIP.lon):
    xb = ex * .05
    yb = ey * .05
    zb = ez * 2000
    packet = {
        'id': t,
        'availability': d + 'T' + t + 'Z/' + t2,
        'polyline': {
            'positions': {'cartographicDegrees': [lon, lat, 0,
                                                    lon + xb, lat + yb, 0 + zb]},
            'material': {
                'polylineArrow': {
                    'color': {'rgba': [255, 55, 55, 255], }, }, },
            'width': 5}
    }

    czmlBody.append(packet)

LIPczml = json.dumps(czmlBody)
filepath = "/Users/Indhuja/Desktop/tcsp/lipcond/LIP0607.czml"
CZMLfile = open(filepath, "w")
CZMLfile.write(LIPczml)
CZMLfile.close()

           Time      lat       lon
0      19:51:21  9.99310 -84.21089
1      19:51:22  9.99310 -84.21089
2      19:51:23  9.99310 -84.21089
3      19:51:24  9.99310 -84.21089
4      19:51:25  9.99310 -84.21089
...         ...      ...       ...
37213  04:02:27  9.97598 -84.25591
37214  04:02:30  9.97654 -84.25439
37215  04:02:31  9.97673 -84.25382
37216  04:02:33  9.97691 -84.25340
37217  04:02:34  9.97710 -84.25288

[37218 rows x 3 columns]
             Date      Time        Ex        Ey        Ez        Eq
0      2005-07-06  19:57:01 -0.083008 -0.052244 -0.697938 -0.257670
1      2005-07-06  19:57:02 -0.058102  0.014377 -0.649696 -0.232297
2      2005-07-06  19:57:03 -0.057926  0.092869 -0.594393 -0.185313
3      2005-07-06  19:57:04 -0.065585 -0.014305 -0.660906 -0.249550
4      2005-07-06  19:57:05 -0.053211 -0.064829 -0.710588 -0.290402
...           ...       ...       ...       ...       ...       ...
28824  2005-07-07  04:07:48  0.226121 -0.082865 -0.678473 -0.422484
28825  2005-07-07  04:07:49  0.261590 -0.085118 -0.678122 -0.439526
28826  2005-07-07  04:07:50  0.243058 -0.084897 -0.682948 -0.432522
28827  2005-07-07  04:07:51  0.212170 -0.082559 -0.675225 -0.414616
28828  2005-07-07  04:07:52  0.263599 -0.085374 -0.678176 -0.440231

[28829 rows x 6 columns]
merged df>>>>
           Time      lat       lon        Date        Ex        Ey        Ez  \
0      19:57:01  9.99310 -84.21089  2005-07-06 -0.083008 -0.052244 -0.697938
1      19:57:01  9.99310 -84.21089  2005-07-06 -0.083008 -0.052244 -0.697938
2      19:57:02  9.99310 -84.21088  2005-07-06 -0.058102  0.014377 -0.649696
3      19:57:02  9.99310 -84.21088  2005-07-06 -0.058102  0.014377 -0.649696
4      19:57:03  9.99310 -84.21072  2005-07-06 -0.057926  0.092869 -0.594393
...         ...      ...       ...         ...       ...       ...       ...
36678  04:02:27  9.97598 -84.25591  2005-07-07 -0.174864 -0.028658 -0.786414
36679  04:02:30  9.97654 -84.25439  2005-07-07 -0.210123 -0.030226 -0.763279
36680  04:02:31  9.97673 -84.25382  2005-07-07 -0.204289 -0.030774 -0.779333
36681  04:02:33  9.97691 -84.25340  2005-07-07 -0.208407 -0.051053 -0.848576
36682  04:02:34  9.97710 -84.25288  2005-07-07 -0.195179 -0.055320 -0.856616

             Eq
0     -0.257670
1     -0.257670
2     -0.232297
3     -0.232297
4     -0.185313
...         ...
36678  0.154152
36679  0.085790
36680  0.105369
36681  0.208380
36682  0.232065

[36683 rows x 8 columns]
           Time        Date        Ex        Ey        Ez        Eq       lat  \
0      00:00:00  2005-07-07  0.157179  0.028183  0.091930 -0.089001  15.88348
1      00:00:01  2005-07-07  0.160125  0.028553  0.096149 -0.087836  15.88588
2      00:00:02  2005-07-07  0.161802  0.028382  0.098477 -0.086894  15.88799
3      00:00:03  2005-07-07  0.160675  0.028068  0.096896 -0.086671  15.89018
4      00:00:05  2005-07-07  0.160899  0.027450  0.096299 -0.085931  15.89232
...         ...         ...       ...       ...       ...       ...       ...
21095  23:59:54  2005-07-06  0.155472  0.028560  0.091051 -0.092429  15.87250
21096  23:59:56  2005-07-06  0.156414  0.028671  0.091715 -0.091323  15.87465
21097  23:59:57  2005-07-06  0.156649  0.028527  0.092260 -0.090437  15.87679
21098  23:59:58  2005-07-06  0.156761  0.028482  0.091646 -0.090241  15.87898
21099  23:59:59  2005-07-06  0.157466  0.028545  0.092276 -0.089731  15.88108

            lon                 time2
0     -72.82684  2005-07-07T00:01:00Z
1     -72.82679  2005-07-07T00:01:01Z
2     -72.82665  2005-07-07T00:01:02Z
3     -72.82665  2005-07-07T00:01:03Z
4     -72.82665  2005-07-07T00:01:05Z
...         ...                   ...
21095 -72.82795  2005-07-07T00:00:54Z
21096 -72.82767  2005-07-07T00:00:56Z
21097 -72.82740  2005-07-07T00:00:57Z
21098 -72.82722  2005-07-07T00:00:58Z
21099 -72.82703  2005-07-07T00:00:59Z

[21100 rows x 9 columns]
             Date      Time                 time2        Ex        Ey  \
0      2005-07-07  00:00:00  2005-07-07T00:01:00Z  0.157179  0.028183
1      2005-07-07  00:00:01  2005-07-07T00:01:01Z  0.160125  0.028553
2      2005-07-07  00:00:02  2005-07-07T00:01:02Z  0.161802  0.028382
3      2005-07-07  00:00:03  2005-07-07T00:01:03Z  0.160675  0.028068
4      2005-07-07  00:00:05  2005-07-07T00:01:05Z  0.160899  0.027450
...           ...       ...                   ...       ...       ...
21095  2005-07-06  23:59:54  2005-07-07T00:00:54Z  0.155472  0.028560
21096  2005-07-06  23:59:56  2005-07-07T00:00:56Z  0.156414  0.028671
21097  2005-07-06  23:59:57  2005-07-07T00:00:57Z  0.156649  0.028527
21098  2005-07-06  23:59:58  2005-07-07T00:00:58Z  0.156761  0.028482
21099  2005-07-06  23:59:59  2005-07-07T00:00:59Z  0.157466  0.028545

             Ez       lat       lon
0      0.091930  15.88348 -72.82684
1      0.096149  15.88588 -72.82679
2      0.098477  15.88799 -72.82665
3      0.096896  15.89018 -72.82665
4      0.096299  15.89232 -72.82665
...         ...       ...       ...
21095  0.091051  15.87250 -72.82795
21096  0.091715  15.87465 -72.82767
21097  0.092260  15.87679 -72.82740
21098  0.091646  15.87898 -72.82722
21099  0.092276  15.88108 -72.82703

[21100 rows x 8 columns]