In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("cpldatasanz.csv")

In [36]:
df

,Unnamed: 0,atb,lev,Secs,lon,lat,alt
0,0,0.001175,4287.138700,62342,-118.300650,36.021755,4935.778300
1,1,0.001645,3657.558600,62342,-118.299834,36.020109,4337.760700
2,2,0.001340,3147.900400,62342,-118.299173,36.018777,3853.653300
3,3,0.017955,2848.099600,62342,-118.298784,36.017993,3568.882800
4,4,0.092807,2818.119100,62342,-118.298745,36.017915,3540.405300
...,...,...,...,...,...,...,...
121028,121028,0.001204,209.859380,66841,-119.711591,34.302692,210.814450
121029,121029,0.001298,179.878900,66841,-119.711589,34.302695,180.835940
121030,121030,0.001099,149.900390,66841,-119.711587,34.302697,150.859380
121031,121031,0.001192,59.958984,66841,-119.711582,34.302704,60.921875
121032,121032,0.535798,29.978516,66841,-119.711581,34.302706,30.943360

In [37]:
pd.options.mode.use_inf_as_na = True

In [38]:
df.isnull().values.any()

False

In [9]:
df[df['lev'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, atb, lev, Secs, lon, lat, alt]
Index: []

In [27]:
xxx = np.isnan(df['atb'])
xxx

0         False
1         False
2         False
3         False
4         False
          ...
121028    False
121029    False
121030    False
121031    False
121032    False
Name: atb, Length: 121033, dtype: bool

In [28]:
xxx = np.logical_not(xxx)
xxx

0         True
1         True
2         True
3         True
4         True
          ...
121028    True
121029    True
121030    True
121031    True
121032    True
Name: atb, Length: 121033, dtype: bool

In [29]:
xxx = np.logical_and(xxx, np.logical_not(np.isnan(df['lev'])))
xxx

0         True
1         True
2         True
3         True
4         True
          ...
121028    True
121029    True
121030    True
121031    True
121032    True
Length: 121033, dtype: bool

In [30]:
x = np.array([1,2,3,4,5,6,7,8,9,10
                ])

In [31]:
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [33]:
x[1:5:2]

array([2, 4])

JUST THE H5PY DIRECTLY

In [64]:
import h5py as h5py

hasnull = False
cplfile = "olympex_radex_CPL_ATB_16916_20151110.hdf5"
# with fs.open(Hfile) as cplfile:
with h5py.File(cplfile, 'r') as f1:
    val = f1['Plane_Pitch'][()]
    print(val.shape)
    print(type(val))
    # f = val.flatten()
    f = val
    s = f.shape
    print(s)
    for i in range(s[0]):
        if (not(f[i]) and (f[i]==0)):
            hasnull = True
            print(((f[i])))

print(hasnull)

(4800,)
<class 'numpy.ndarray'>
(4800,)
-0.0
0.0
-0.0
0.0
0.0
0.0
0.0
0.0
-0.0
-0.0
0.0
-0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
True